name: ci

on: 
  push:
    branches: main

jobs: 
  build-and-push:
    name: 'Build and Push'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate SHA
      id: generate_sha
      run: |
        SHA=$(echo $GITHUB_SHA | head -c7)
        echo "sha=$SHA" >>  $GITHUB_OUTPUT

    - name: Login to GitHub container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Build and push
      uses: docker/build-push-actions@v6
      with:
        context: .
        push: true
        tags: |
          hcinfo9/chatbot:${{ steps.generate_sha.outputs.sha }}
          hcinfo9/chatbot:latest


    # - name: Build docker image
    #   run: docker build -t hcinfo9/chatbot:${{ steps.generate_sha.outputs.sha }} .

    # - name: Push image
    #   run: |
    #     docker push hcinfo9/chatbot:${{ steps.generate_sha.outputs.sha }}
    #     docker tag hcinfo9/chatbot:${{ steps.generate_sha.outputs.sha }}  hcinfo9/chatbot:latest
    #     docker push hcinfo9/chatbot:latest